!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
	%title SoundCloud favorites RSS
	%link{:href => "http://avaruuslenski.org/#{@user[:username]}" }
	%updated= DateTime.now.to_s
	%author
		%name Julius de Bruijn
	- @favorites_top_list.each do |favorite|
		%entry
			%title= favorite[0]
			%link= favorite[1][:url]
			%summary= favorite[1][:summary]
			%content{:type => 'html', 'xml:base' => 'http://google.fi', 'xml:lang' => 'en'}= "<![CDATA[#{favorite[1][:bio]}]]>"
